<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Institution Page</title>
</head>
<body>
<!--    <form action="#" th:action="@{/addInstitution}" th:object="${institution}" method="post">-->
<!--        <label for="institution_name">Institution Name</label>-->
<!--        <input type="text" th:field="*{institution_name}" id="institution_name" placeholder="Name">-->
<!--        <span th:if="${#fields.hasErrors('institution_name')}" th:errors="*{institution_name}"></span>-->

<!--        <input type="submit" value="Add Institution">-->
<!--    </form>-->

</body>
</html>